body {
  background: #827FB2
}

.Montserrat {
  font-family:'Montserrat', cursive;
}

.Raleway {
  font-family: 'Raleway',cursive;
}
#anacolicchio {
  background-color: purple;
}

a:hover {
background-color: white;
}

h1 {
  border-bottom: 5px dotted #595494;
  h1,table {
  color:red;
  text-align: center;
  }

  a:hover {
  font-weight:800;
  }

  h1,table {
  color:red;
  text-align: center;
  }
  a:hover {
  font-weight:800;
  }
  p{
    font family: "Georgia";
    font-variant: small-caps;
    background: #FFFFFF66;
    background: rgb(255,255,255);
    background: rgba(255,255,255,0.7);
    color: black;
    color: #000000;
    color: rgba(0,0,0);
    background:rgba(0,0,0,0.3);


}

li {
  color: black;
}

.ana {
  color: #1D053A;
}

#workexperience {
  tex-decoration:
    line-through;
}

#profileimage {
  text-align: left;
}

list_titles {
  color: #320871;
}

/* NOTE: do not use id more than once */
/* text decoration means underline, put none*/
