.grid {display:grid;}

.margin
.article1,
.article2,
.article3,
.article4 {
  display: grid;
}

img {max-width: 100%;}

.news div {border:1px solid red; margin: 5px}

h2 {color:#99CC98;}

body {
  background: #99CC99;

}

a {
  text-decoration: none;
}

.article3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.article3 img {
  max-width: 100%;
}

.article3 div {
  padding: 10px;
}

nav ul {list-style: none; margin: 0; padding:0; display:grid;}


nav ul {grid-template-columns: 1fr 1fr 1fr}
nav ul li
